@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,900&family=Roboto:wght@100;300;400&display=swap');

$fontMain: 'Montserrat', sans-serif;
$font2: 'Roboto', sans-serif;;

$Color1: #577f7fe1;
$Color2: #e1e810;
$Color3: #6f0a5c;
$Color4: #921667;
$Color5: #e97c90;